.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    padding: 20px;
}

.table {
    max-width: 950px;
    border: 1px solid red;
    padding: 20px;
}